main > .container {
    padding: 30px 15px 20px;
}

#main .row-header {
    margin-bottom:  50px;
}

#main .row {
    margin-bottom:  100px;
}

#main .patients {
    margin-bottom: 50px;
}

.row .how-img 
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.row .how-img img{
    border-radius: 0% !important;
    width: 70%;
}

.row h4{
    color: #ffa500;
    font-weight: bold;
    font-size: 30px;
}

.row .subheading{
    color: #3931af;
    font-size: 20px;
}

.row .sponsors {
    margin-top: 10px;
    gap: 30px;
}

.row .sponsors .sponsor {
    display: flex;
    align-items: center;
}

.row .sponsors > div img {
    width: 150px;
}

.footer {
    background-color: #f5f5f5;
    font-size: .9em;
    height: 60px;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    content: '';
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 2px 4px;
    background: transparent;
}

a.asc:after {
    border-bottom: solid 7px #212529;
    border-top-width: 0;
}

a.desc:after {
    border-top: solid 7px #212529;
    border-bottom-width: 0;
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding-top: 7px;
    color: rgba(255, 255, 255, 0.75);
    font-size: 20px;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 0;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.navbar li > a {
    font-size:  20px;
    color: rgba(255, 255, 255, 0.75);
}

.navbar li > a:hover {
    color: rgba(255, 255, 255, 1);
}

.navbar {
    background-color:  #2a26ff;
}

.navbar .navbar-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#test-form .form-group {
    margin-bottom: 20px;
}

#test-form .form-group label {
    margin-bottom: 5px;
}

#test-form .form-group .help-block {
    color: red;
    margin-top: 5px;
}

#to-signup, #to-login {
    display: inline;
    margin-left: 10px;
}

#to-signup a, #to-login a {
    color: grey;
    text-decoration: none;
}

#to-signup a:hover,
#to-login a:hover {
    color: black;
    text-decoration: underline;
}

.row.talons {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 450px);
    justify-content: center;
    gap: 20px;
}

#main .pharmacy {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: center;
    gap: 20px;
}

.row.patients {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    justify-content: center;
    gap: 20px;
}

#main .book-talons {
    margin-top: 30px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: left;
    gap: 20px;
}

#main .row.addresses {
    margin-top: 30px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 450px);
    justify-content: left;
    gap: 20px;
}

.row .talon, .row .patient {
    width: 450px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #2a26ff;
}

#main .pharmacy .drug {
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #2a26ff;
}

.row.addresses .address {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #2a26ff;
}

.row .talon p,
.row .patient p,
.row .address p,
.pharmacy .drug{
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.talons .talon .talon-row,
.patients .patient .patient-row,
#main .pharmacy .drug-row {
    display: flex;
    justify-content: left;
    margin-bottom: 10px;
    padding: 10px 10px 0px;
}

#main .pharmacy .drug-row {
    margin-bottom: 0px;
}

.talon-row .talon-title,
#main .pharmacy .drug-title{
    width: 100px;
    font-weight: 700;
}

.patient-row .patient-title {
    width: 150px;
    font-weight: 700;
}

.talon .talon-button,
.address .delete-address {
    display: block;
    color: white;
    font-weight: 500;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: red;
}

.talon-button a {
    text-decoration: none;
    color: white;
}

.patient .patient-button,
#main .personal-data {
    display: block;
    color: white;
    font-weight: 500;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: blue;
}

#main .add-address,
#main .add-patient {
    display: block;
    color: white;
    font-weight: 500;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: green;
}

.patient-button a,
#main .personal-data a,
#main .add-address a,
.addresses .delete-address a,
#main .add-patient a {
    text-decoration: none;
    color: white;
}

.talon .talon-button:hover,
.addresses .delete-address:hover {
    background-color: #af0000;
}

.patient .patient-button:hover {
    background-color: #0000af;
}